<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog Eared</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div id="show_container">
      <div class="show_book">
        <h1 class="show_title"><%=book.title%></h1>
        <img class="show_img" src="<%=book.img%>">
        <%=book.description%>
        <div>Price: $<%=book.price%></div>
        <div>
          <% if(book.qty > 0) { %>
            <%=book.qty%> in stock
          </div>
          <form action="/users/<%=book.id%>/add_to_cart?_method=PUT" method="POST">
            <input class="add_to_cart_button" type="submit" value="Add to Cart">
          </form>
          <% } else { %>
            Out of stock
          </div>
          <% } %>
        <a href="/books/<%=book.id%>/edit"><div class="edit_button">Edit</div></a>
        <form action="/books/<%=book.id%>?_method=DELETE" method="POST">
          <input class="delete_button" type="submit" value="Delete">
        </form>
      </div>
      <a href="/books"><- Back to Index</a>
    </div>
  </body>
</html>
