<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mongoose Store</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div id=show_container>
      <div class=show_book>
        <h1><%=book.name%></h1>
        <img src="<%=book.img%>"><br>
        <div><%=book.description%></div>
        <div>Price: $<%=book.price%></div>
        <div>
          <% if(book.qty > 0) { %>
            <%=book.qty%> in stock
          </div>
          <form action="/books/<%=book.id%>/buy?_method=PUT" method="POST">
            <input class="buy_button" type="submit" value="Buy">
          </form>
          <% } else { %>
            Out of stock
          </div>
          <% } %>
        <a href="/books/<%=book.id%>/edit"><div class="edit_button">Edit</div></a>
        <form action="/books/<%=book.id%>?_method=DELETE" method="POST">
          <input class="delete_button" type="submit" value="Delete">
        </form>
      </div>
      <a href="/books"><- Back to Index</a>
    </div>
  </body>
</html>
