<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog-Eared - Shopping Cart</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Gravitas+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1 class="index_h1">Your Shopping Cart</h1>
    <div id="cart_container">
      <% let cartTotal = 0
      if(cart.length === 0) { %>
        <div>Your cart is empty!</div>
      <% } else {
      for(let book of cart) {
        cartTotal += book.price %>
        <div class="cart_line">
          <div class="cart_line_left">
            <a href="/books/<%=book._id%>"><img class="cart_img" src="<%=book.img%>"></a>
            <h4><%=book.title%></h4>
          </div>
          <div class="cart_line_right">$<%=book.price.toFixed(2)%></div>
        </div>
      <% } } %>
      <div class="cart_line">
        <div class="cart_line_left">
          <h4>Cart Total:</h4>
        </div>
        <div class="cart_line_right">$<%=cartTotal.toFixed(2)%></div>
      </div>
      <div class="cart_line">
        <div class="cart_line_left"><a href="/books"><- Continue Shopping</a></div>
        <div class="cart_line_right"><a href="/users/cart/checkout">Checkout -></a></div>
      </div>

    </div>
  </body>
</html>
